
    .container {
        width: 400px;
        border: 1px solid #92e5bf;
        padding: 12px 16px;
        background: aliceblue;
        margin: auto;
    }
    p.paragraph {
        border: 1px solid #c14a4a;
        padding: 10px 8px;
        background: antiquewhite;
    }
    .container button {
        border: 1px solid cornflowerblue;
        color: #fff;
        background: cadetblue;
        padding: 4px 8px;
        border-radius: 4px;
    }